html {
  font-size: 18px;
  font-family: Verdana, sans-serif;

}

body {
  margin: 0;
}
/*HEADER*/
.logo {
  display: flex;
  align-items: center;
  background-color: #000000;

}

.logo span {
  padding-left: 1em;
  color: #ffffff;
}

header {
  background-color: #000000;
}
